.custom-menu-avatar {
	width: 30px;
	height: 30px;
	object-fit: cover;
}
.custom-links {
	font-size: 1.5em;
}
button {
	white-space: normal !important;
}
.front-logo {
	max-height: 150px;
}
.item-description img {
	max-width: 100%;
	height: auto !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgb(122, 230, 193) !important;
}
li > .sidebar-items:hover {
    color: #7ae6c1 !important;
}
.product-photo {
	width: 100%; 
	height: 150px; 
	object-fit: contain;
}
.styled-background {
	background: #7ae6c1;
}
body {
	background: url('/img/common/bg.png');
}