.custom-menu-avatar {
	width: 30px;
	height: 30px;
	object-fit: cover;
}
.custom-links {
	font-size: 1.5em;
}
/*a {
	word-break: break-all;
}*/
button {
	white-space: normal !important;
}
.front-logo {
	max-height: 150px;
}
.item-description img {
	max-width: 100%;
	height: auto !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgb(122, 230, 193) !important;
}